:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000; /* Set the background color of the page */
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  
  .card-container {
    width: 100%;
    max-width: 400px; /* Adjust the max-width as needed */
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
  }
  
  .card-container mat-card {
    background-color: #ffffff;
  }
  
  .center-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  