  <div class="container">
    <div *ngIf="isLoading" class="spinner-container">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  
    <div class="card-container" [style.opacity]="isLoading ? '0.5' : '1'">
        <mat-card>
            <mat-card-header>
              <mat-card-title class="center-title">Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" required  autocomplete="username">
                  </mat-form-field>
            
                  <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" [type]="hide ? 'password' : 'text'" required autocomplete="current-password" >
                    <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility($event)">
                      <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>                    
                  </mat-form-field>
            
                  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
                </form>
                <p class="register-link">Not registered? <a routerLink="/register">Register</a></p>
              </mat-card-content>
            </mat-card>
    </div>
  </div>
  